body {
    color: var(--color-tone-1);
    background-color: var(--color-neutral-background-hover);
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body.noscroll {
    overflow: hidden;
}

#wrapper {
    width: auto;
    height: auto;
    gap: 1rem;
    display: grid;
    margin-bottom: 1rem;
}

#placeholderOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--color-interactive-content-disabled);
    z-index: 999;

    flex-wrap: wrap;
    overflow-y: scroll;
}

#placeholderOverlayBox {
    display: flex;
    gap: 1em;
    flex-direction: column;
    flex-grow: 10px;
    height: auto;
}

#placeholderOverlayBox>* {
    margin: 0;
    max-width: 50em;
}

br {    
    display: block;
    margin-top: 0.5em;
    content: "";
}

#placeholderOverlayBox table {
    border: 0.0625rem solid var(--color-tone-4);
    border-radius: 0.25rem;
    padding: .5em;
}

table a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-primary)
}

table a:hover,
table a:visited:hover {
    color: var(--color-primary-hover)
}

table a:visited {
    color: var(--color-primary)
}

@media screen and (orientation:landscape) {
    #wrapper {

        grid-template-columns: 0 1fr 1fr 0;
        grid-template-rows: 2;
        grid-template-areas:
            "header header header header"
            ". left right .";
    }
}

@media screen and (orientation:portrait) {
    #wrapper {

        grid-template-columns: 0 1fr 0;
        grid-template-rows: 3;
        grid-template-areas:
            "header header header"
            ". left ."
            ". right .";
    }
}


#left {
    grid-area: left;
    height: auto;
}

#right {
    grid-area: right;
    height: auto;
}

.panel,
#placeholderOverlayBox {
    border: 3px solid var(--color-tone-4);
    border-radius: 8px;
    padding: 0.75rem;
    background-color: var(--color-neutral-background);
}

label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}

div,
label,
input,
textarea,
button,
select,
option {
    display: block;
}


input:focus {
    outline: none;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
    outline: var(--color-tone-1) auto 1px;
}

#flairConfigOutput {
    height: 100%;
    resize: none
}

input.templateId {
    width: 19.5em;
    text-transform: lowercase;
}

input:invalid:not(:focus),
textarea:invalid:not(:focus),
textarea.invalid:not(:focus) {
    box-shadow: 0 0 0 0.125rem var(--color-danger-content);
}

input:invalid:focus,
textarea:invalid:focus,
textarea.invalid:focus {
    outline: none;
    box-shadow: 0 0 0 0.125rem var(--color-danger-content);
}

.error {
    color: var(--color-danger-content);
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
}

input[type="number"],
input[type="text"],
select {
    padding: 0.625rem;
    background: var(--color-input-secondary);
    border-radius: 1.25rem;
    border-color: transparent;
    color: var(--color-input-secondary-text);
}

select {
    width: fit-content;
}

option {
    padding: 0.5rem 1rem;
    color: var(--color-secondary);
    background-color: var(--color-neutral-background-hover);
}

option:active {
    color: var(--color-neutral-background-selected);
    background-color: var(--color-secondary-onBackground);
}

option:hover {
    outline: none !important;
    color: var(--color-secondary-hover);
    background: var(--color-neutral-background-hover);
}


input[type="number"]:hover,
input[type="text"]:hover {
    background: var(--color-input-secondary-hover);
}


input[type="number"] {
    width: 3.5em;
}

textarea {
    background: var(--color-input-default);
    border: 0.0625rem solid var(--color-tone-4);
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.disabled,
.disabled>* {
    display: none !important;
    height: 0 !important;
}

fieldset {
    border: 0.0625rem solid var(--color-tone-4);
    border-radius: 0.25rem;
    padding: 0.75rem;
}

fieldset,
div.option,
#left,
#right,
form,
#flairConfigsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#baseConfig {
    display: none;
}

#header {
    grid-area: header;
    height: auto;
    background-color: var(--color-neutral-background);
    padding: 0 1rem;
}

#header>* {
    padding: 0 1rem;
    margin: 1rem 0;

}

h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--color-neutral-content-strong);
}

h2 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--color-neutral-content-strong);
    margin: 0;
}

a {
    all: unset;
}

button,
a.button {
    padding: 0.625rem 1.25rem;
    background: var(--color-secondary-background);
    height: 2.5rem;
    border: 0.0625rem solid transparent;
    border-radius: 999px;
    line-height: 1.5;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.75rem/1rem;
}

button:hover,
a.button:hover {
    background: var(--color-secondary-background-hover);
}

button:active,
a.button:active {
    background: var(--color-secondary-background-selected);
}


button.danger {
    background: var(--color-danger-background);
}

button.danger:hover {
    background: var(--color-danger-background-hover);
}

button.danger:active {
    background: var(--color-danger-background-selected);
}



button.primary {
    background: var(--color-primary-background);
}

button.primary:hover {
    background: var(--color-primary-background-hover);
}

button.primary:active {
    background: var(--color-primary-background-selected);
}

#header .bottomButtons {
    display: flex;
    gap: 0.5em;
}

#header .bottomButtons a {
    height: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header .bottomButtons a>svg {
    margin-right: 0.5em;
}

a.button:hover {
    text-decoration: underline;
}

.bottomButtons>button {
    display: inline;
}

.floatright {
    float: right;
}

/* Slider Checkboxes w60 h34 br34 */

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-switch-input-background-default);
    transition: .4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 87.5%;
    width: 26px;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: var(--color-global-white);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--color-switch-input-background-checked);
}

input:focus+.slider,
input:hover+.slider {
    background-color: var(--color-switch-input-background-default-hover);
}

input:focus:checked+.slider,
input:hover:checked+.slider {
    background-color: var(--color-switch-input-background-checked-hover);
}

input:checked+.slider:before {
    transform: translateX(1.125rem);
}

.supportsPlaceholders {
    cursor: pointer;
}

/* Reddit Color Scheme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-pizzaRed: #c62828;
        --color-global-brand-orangered: #FF4500;
        --color-global-focus: #007FAE;
        --color-interactive-content-disabled: #ffffff40;
        --color-interactive-background-disabled: #ffffff0d;
        --color-interactive-pressed: #ffffff29;
        --color-neutral-content: #B8C5C9;
        --color-neutral-content-disabled: #303030;
        --color-neutral-content-weak: #82959B;
        --color-neutral-content-strong: #F2F4F5;
        --color-neutral-background: #0B1416;
        --color-neutral-background-selected: #1A282D;
        --color-neutral-background-weak: #04090A;
        --color-neutral-background-medium: #131313;
        --color-neutral-background-strong: #0F1A1C;
        --color-neutral-background-hover: #131F23;
        --color-neutral-border: #ffffff33;
        --color-neutral-border-medium: #ffffff80;
        --color-neutral-border-weak: #ffffff1a;
        --color-neutral-border-strong: #F2F4F5;
        --color-primary: #629FFF;
        --color-primary-hover: #A7CCFF;
        --color-primary-visited: #D55EFF;
        --color-primary-onBackground: #ffffff;
        --color-primary-onBackground-selected: #000000;
        --color-primary-background: #0045AC;
        --color-primary-background-hover: #1870F4;
        --color-primary-background-selected: #629FFF;
        --color-secondary: #F2F4F5;
        --color-secondary-hover: #ffffff;
        --color-secondary-weak: #82959B;
        --color-secondary-onBackground: #ffffff;
        --color-secondary-background: #1A282D;
        --color-secondary-background-hover: #223237;
        --color-secondary-background-selected: #33464C;
        --color-danger-background: #A50016;
        --color-danger-background-disabled: #3A0008;
        --color-danger-background-hover: #EB001F;
        --color-danger-background-selected: #FC001F;
        --color-danger-onBackground: #ffffff;
        --color-danger-content: #FF6E80;
        --color-danger-content-hover: #FFADB8;
        --color-success-content: #55BD46;
        --color-success-hover: #A3E398;
        --color-success-onBackground: #ffffff;
        --color-success-background: #0A6000;
        --color-success-background-hover: #0E8A00;
        --color-warning-content: #DBAF00;
        --color-warning-content-hover: #FADB61;
        --color-warning-onBackground: #000000;
        --color-warning-background: #DBAF00;
        --color-warning-background-hover: #FADB61;
        --color-tone-1: #d7dadc;
        --color-tone-2: #818384;
        --color-tone-3: #565758;
        --color-tone-4: #3a3a3c;
        --color-tone-5: #272729;
        --color-tone-6: #1a1a1b;
        --color-tone-7: #121213;
        --color-global-black: #000000;
        --color-global-white: #ffffff;
        --color-global-orangered: #D93A00;
        --color-global-alienblue: #0079d3;
        --color-global-darkblue: #1d2535;
        --color-switch-input-background-default: var(--color-tone-3);
        --color-switch-input-background-checked: var(--color-global-alienblue);
        --color-switch-input-background-disabled: var(--color-tone-6);
        --color-switch-input-background-checked-disabled: var(--color-tone-5);
        --color-switch-input-background-hover: var(--color-tone-3);
        --color-switch-input-background-checked-hover: var(--color-global-alienblue);
        --color-switch-input-background-pressed-scrim: var(--color-interactive-pressed);
        --color-switch-input-background-handle: var(--color-global-white);
        --color-switch-input-background-handle-disabled: var(--color-secondary-background);
        --color-switch-input-background-default: var(--color-secondary-background);
        --color-switch-input-background-default-hover: var(--color-secondary-background-hover);
        --color-switch-input-background-default-disabled: var(--color-interactive-background-disabled);
        --color-switch-input-background-checked: var(--color-primary-background);
        --color-switch-input-background-checked-hover: var(--color-primary-background-hover);
        --color-switch-input-background-checked-disabled: var(--color-interactive-content-disabled);
        --color-input-secondary: var(--color-secondary-background);
        --color-input-secondary-hover: var(--color-secondary-background-hover);
        --color-input-secondary-text: var(--color-secondary-onBackground);
        --color-input-helper-text: var(--color-neutral-content-weak);
        --color-input-pressed: var(--color-interactive-pressed);
        --color-input-default: var(--color-tone-6);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --color-pizzaRed: #ef5350;
        --color-global-brand-orangered: #FF4500;
        --color-global-focus: #47B0DB;
        --color-interactive-content-disabled: #00000040;
        --color-interactive-background-disabled: #0000000d;
        --color-interactive-pressed: #00000029;
        --color-neutral-content: #2A3C42;
        --color-neutral-content-disabled: #D6D6D6;
        --color-neutral-content-weak: #576F76;
        --color-neutral-content-strong: #0F1A1C;
        --color-neutral-background: #ffffff;
        --color-neutral-background-selected: #EAEDEF;
        --color-neutral-background-weak: #F9FAFA;
        --color-neutral-background-medium: #F8F8F8;
        --color-neutral-background-strong: #ffffff;
        --color-neutral-background-hover: #F2F4F5;
        --color-neutral-border: #00000033;
        --color-neutral-border-medium: #00000080;
        --color-neutral-border-weak: #0000001a;
        --color-neutral-border-strong: #0F1A1C;
        --color-primary: #0045AC;
        --color-primary-hover: #003584;
        --color-primary-visited: #8700B5;
        --color-primary-onBackground: #ffffff;
        --color-primary-onBackground-selected: #ffffff;
        --color-primary-background: #0045AC;
        --color-primary-background-hover: #003584;
        --color-primary-background-selected: #00255D;
        --color-secondary: #0F1A1C;
        --color-secondary-hover: #000000;
        --color-secondary-weak: #576F76;
        --color-secondary-onBackground: #000000;
        --color-secondary-background: #EAEDEF;
        --color-secondary-background-hover: #E2E7E9;
        --color-secondary-background-selected: #D2DADD;
        --color-danger-background: #EB001F;
        --color-danger-background-disabled: #FFCCD2;
        --color-danger-background-hover: #A50016;
        --color-danger-background-selected: #83000F;
        --color-danger-onBackground: #ffffff;
        --color-danger-content: #A50016;
        --color-danger-content-hover: #7E0011;
        --color-danger-content-default: #ffffff;
        --color-success-content: #0A6000;
        --color-success-hover: #084A00;
        --color-success-onBackground: #ffffff;
        --color-success-background: #0E8A00;
        --color-success-background-hover: #0A6000;
        --color-warning-content: #665505;
        --color-warning-content-hover: #504104;
        --color-warning-onBackground: #000000;
        --color-warning-background: #DBAF00;
        --color-warning-background-hover: #8F7407;
        --color-tone-1: #131313;
        --color-tone-2: #434343;
        --color-tone-3: #ACACAC;
        --color-tone-4: #E4E4E4;
        --color-tone-5: #F2F2F2;
        --color-tone-6: #F8F8F8;
        --color-tone-7: #ffffff;
        --color-global-black: #000000;
        --color-global-white: #ffffff;
        --color-global-orangered: #D93A00;
        --color-global-alienblue: #0079d3;
        --color-global-darkblue: #1d2535;
        --color-switch-input-background-default: var(--color-tone-3);
        --color-switch-input-background-checked: var(--color-global-alienblue);
        --color-switch-input-background-disabled: var(--color-tone-6);
        --color-switch-input-background-checked-disabled: var(--color-tone-5);
        --color-switch-input-background-hover: var(--color-tone-3);
        --color-switch-input-background-checked-hover: var(--color-global-alienblue);
        --color-switch-input-background-pressed-scrim: var(--color-interactive-pressed);
        --color-switch-input-background-handle: var(--color-global-white);
        --color-switch-input-background-handle-disabled: var(--color-secondary-background);
        --color-switch-input-background-default: var(--color-secondary-background);
        --color-switch-input-background-default-hover: var(--color-secondary-background-hover);
        --color-switch-input-background-default-disabled: var(--color-interactive-background-disabled);
        --color-switch-input-background-checked: var(--color-primary-background);
        --color-switch-input-background-checked-hover: var(--color-primary-background-hover);
        --color-switch-input-background-checked-disabled: var(--color-interactive-content-disabled);
        --color-input-secondary: var(--color-secondary-background);
        --color-input-secondary-hover: var(--color-secondary-background-hover);
        --color-input-secondary-text: var(--color-secondary-onBackground);
        --color-input-helper-text: var(--color-neutral-content-weak);
        --color-input-pressed: var(--color-interactive-pressed);
        --color-input-default: var(--color-tone-6);
    }
}